/* Define o box-sizing para todas as tags e remove margens e paddings padrão */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Estiliza o corpo da página com a imagem de fundo */
body {
  background-image: url(./imagem1.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1); /* Fundo transparente com leve opacidade */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 5px black;
  text-align: center;
  backdrop-filter: blur(10px); /* Adiciona um efeito de desfoque de fundo */
}

.header {
  
  padding: 20px;
}

.header h2 {
  color: white; /* Define a cor do texto como branco */
}


.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #a51ea7;
  border: 2px solid #a51ea7;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

/* Error and Success */
.form-control.success input {
  border-color: #a51ea7;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color:#a51ea7;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
  color: #e74c3c;
}